# ORCID_CLIENT_ID=APP-XXXXXXXXXXXX
# ORCID_CLIENT_SECRET=xxxxxxxx-xxxx-xxxx
# ORCID_AUTHORIZATION_URL=https://sandbox.orcid.org/oauth/authorize
# ORCID_TOKEN_URL=https://sandbox.orcid.org/oauth/token
# ORCID_USERINFO_URL=https://sandbox.orcid.org/oauth/userinfo
# ORCID_ISSUER=https://sandbox.orcid.org
# ORCID_JWKS_URL=https://sandbox.orcid.org/oauth/jwks
# ORCID_SCOPE=openid
# ORCID_LOGOUT_URL=

# OIDC_ISSUER=https://sso-test.earth-data.fr/realms/gaia-data
# OIDC_JWKS_URI=https://sso-test.earth-data.fr/realms/gaia-data/protocol/openid-connect/certs
# OIDC_CLIENT_ID=formaterre-igsn
