@import "@projet-igsn/design-system/styles.css";
@plugin "@tailwindcss/typography";

@source "../../design-system/src";

html,
body,
#root {
  min-height: 100%;
}

html {
  scrollbar-gutter: stable;
}

html body[data-scroll-locked] {
  margin-right: 0 !important;
}
