@import "@projet-igsn/design-system/styles.css";
@plugin "@tailwindcss/typography";

@source "../../design-system/src";

:root {
  --primary: #0069a8;
  --primary-foreground: #fff;
  --ring: #0069a8;
  --secondary: #fff;
  --secondary-foreground: #0069a8;
}

html,
body,
#app {
  min-height: 100%;
}

::highlight(sample-search-match) {
  background-color: var(--color-yellow-200);
  color: inherit;
}
