DOMAIN=<domain>
DATABASE_NAME=igsn
DATABASE_USER=igsn
DATABASE_PASSWORD=change-me

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_FROM_NAME=
SMTP_FROM_NAME_ADMIN=

SAMPLE_SEARCH_FUZZY_THRESHOLD=0.8

UPLOAD_LIMIT=5

SAMPLE_EDIT_LOCK_TTL_MINUTES=15

OIDC_ALLOWED_IDENTITY_PROVIDERS=satosa,orcid
