IMAGE_TAG=
DOMAIN=<domain>
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=igsn
DATABASE_USER=igsn
DATABASE_PASSWORD=
DATABASE_SSL=verify-full
DATABASE_CA_FILE=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_FROM_NAME=
SMTP_FROM_NAME_ADMIN=
SAMPLE_SEARCH_FUZZY_THRESHOLD=0.8
UPLOAD_LIMIT=5
SAMPLE_EDIT_LOCK_TTL_MINUTES=15
OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_ALLOWED_IDENTITY_PROVIDERS=satosa,orcid
DATACITE_API_HOST=https://api.datacite.org
DATACITE_API_KEY=
DATACITE_DOI_PREFIX=10.70113
